.meetings-page-root{
    
}

.meetings-page-header{
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    cursor: default;
    margin-top: 40px;
    font-size: 40px;
    font-family: sans-serif;
}

.meetings-page-header::after{
    position: absolute;
    content:"";
    background-color: white;
    height: 1px;
    width: 75%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.meetings-selector{
    position: relative;
    display: flex;
    width: 75%;
    color: white;
    font-family: sans-serif;
    text-align: center;
    left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);
}

.past-meetings-selector, .upcoming-meetings-selector{
    width: 50%;
    background-color: white;
    color: black;
    padding: 10px;
    border-right: 1px solid black;
    cursor: pointer;
}

.past-meetings-selector:hover, .upcoming-meetings-selector:hover{
    background-color: gray;
}

.past-meetings-selector{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.upcoming-meetings-selector{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.meeting-box-item{
    display: flex;
}

.meeting-item-label{
    width: 200px;
    font-weight: bold;
}

.meeting-box{
    position: relative;
    background-color: white;
    padding: 15px;
    text: black;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    border: 3px solid black;
}

.meeting-candidate, .meeting-participation{
    cursor: pointer;
    color: blue;
    font-family: sans-serif;
}

.meeting-candidate:hover, .meeting-participation:hover{
    color: gray;
}

.meeting-box-feedback-btns-container{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 300px;
    margin-bottom: 15px;
}

.leave-feedback-btn{
    width: 50%;
    border-radius: 30px;
    border-right: 1px solid white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.view-feedback-btn{
    width: 50%;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.view-feedback-btn:hover, .leave-feedback-btn:hover{
    background-color: gray;
}